@use '../util/' as util;

main {
  // border: 2px solid crimson;

  @include util.breakpoint(medium){
    display: flex;
    flex-wrap: wrap;

    

    .boxOne {
  // border: 2px solid crimson;
      width: 60%;
      height: 100%;

      &__mobileHeader {
        display: none;
      }

      &__desktopHeader {
        display: flex;
      }

      &__header {
        padding: util.rem(80) util.rem(20) 0 util.rem(60);
      }
    }

    .boxTwo {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      padding: 0 util.rem(80);
      width: 40%;
    }

    .boxFour {
      width: 40%;
    }

    .boxThree, .boxFive {
      width: 30%;
    }
  }
}

