@use 'font' as font;
@use 'color' as color;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font.$LeagueSpartan;
}

body {
  margin: 0;
  padding: 0;
  background-color: color.$White;
}
