@use '../util' as util;

.boxOne {
  // border: 2px solid blue;
  position: relative;
  left: 0;
  right: 0;


  img {
    // border: 2px solid crimson;
    width: 100%;
  }

  &__mobileHeader {
    display: flex;
  }

  &__header {
    // border: 2px solid lime;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: util.rem(40) util.rem(20) 0 util.rem(20);
    width: 100%;

    img {
      width: util.rem(25);
      cursor: pointer;
    }
  }

  &__logo {
    // border: 2px solid purple;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
    width: util.rem(80);
    }
  }

  &__arrows {
    // border: 2px solid orange;
    display: flex;
    position: absolute;
    bottom: 4px;
    right: 0;
    cursor: pointer;
  }

  &__arrows:hover {
    background-color: lime;
  }

  &--arrowBtn {
    background-color: black;
    padding: util.rem(10) 0;
  }

  &--arrowBtn:first-child {
    padding-left: util.rem(15);
    padding-right: util.rem(25);
  }

  &--arrowBtn:last-child {
    padding-left: util.rem(25);
    padding-right: util.rem(15);
  }

  &--arrowBtn img{
    width: util.rem(18);
  }
}