@use 'color' as color;
@use '../util/' as util;

.boxTwo {
  border: 1px solid crimson;
  position: relative;
  padding: 0 util.rem(30);
  background-color: color.$White;
  
  &__title {
    // border: 1px solid lime;
    margin: util.rem(40) 0 util.rem(15) 0;

    h1 {
      font-size: util.rem(35);
    }
  }

  &__description {
    // border: 1px solid green;
    color: color.$Dark-Gray;
    line-height: 1.4;
    font-weight: 500;
  }

  &__shopBox {
    // border: 1px solid purple;
    display: flex;
    align-items: center;
    padding: util.rem(40) 0;

    img {
      height: util.rem(22);
    }
  }

  &--shopBtn {
    font-size: util.rem(22);
    font-weight: 500;
    letter-spacing: 8px;
    margin-right: util.rem(25);
    text-transform: uppercase;
    transition: ease 0.3s;
    cursor: pointer;
  }

  .icon-arrow {
    transition: filter 0.3s ease; 
  }
  
  .boxTwo__shopBox {
    p:hover {
      color: color.$Very-Dark-Gray;
    }
  }

  .icon-arrow:hover {
    filter: brightness(27%); /* Hover color */
  }
  
  // arrow button desktop
  &__arrows {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }

  &--arrowBtn {
    background-color: black;
    padding: 10px 0;
    transition: ease 0.3s;
  }

  &--arrowBtn:hover {
    background-color: color.$Very-Dark-Gray;
  }

  &--arrowBtn:first-child {
    padding-left: util.rem(15);
    padding-right: util.rem(25);
  }

  &--arrowBtn:last-child {
    padding-left: util.rem(25);
    padding-right: util.rem(15);
  }

  &--arrowBtn img{
    width: util.rem(18);
  }
  
}
