@use 'color' as color;
@use '../util/' as util;

.boxFour {
  // border: 2px solid orangered;
  position: relative;
  padding: 0 util.rem(30);
  background-color: color.$White;
  
  &__title {
    // border: 1px solid lime;
    margin: util.rem(40) 0 util.rem(15) 0;

    h1 {
      font-size: util.rem(35);
    }
  }

  &__description {
    // border: 1px solid green;
    color: color.$Dark-Gray;
    line-height: 1.4;
    font-weight: 500;
  }
}